In [2]:
import numpy as np

## Datatypes and Attributes

In [3]:
# ndarray
arr1 = np.array([1,2,3])
arr2 = np.array([[2,3,4],[5,6,7]])

arr1.shape

(3,)

In [4]:
arr2.shape # dimensions of matrix

(2, 3)

In [5]:
arr1.ndim, arr2.ndim

(1, 2)

In [6]:
arr2.dtype

dtype('int32')

In [7]:
arr1.size, arr2.size

(3, 6)

In [8]:
# Creating datafram via numpy array
import pandas as pd

df = pd.DataFrame(arr2)
df

   0  1  2
0  2  3  4
1  5  6  7

In [9]:
ones = np.ones((2,3)) #works with .zeros as well
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [10]:
range_array = np.arange(0,10,2)
range_array #op,ed,step

array([0, 2, 4, 6, 8])

In [11]:
np.random.seed(seed=0) #makes the randomness reproducable (only applies to cell)
random_array = np.random.randint(10, size=(5,3))
random_array

array([[5, 0, 3],
       [3, 7, 9],
       [3, 5, 2],
       [4, 7, 6],
       [8, 8, 1]])

In [12]:
np.unique(random_array)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

## Manipulating Arrays

In [14]:
random_array * 5 #pre much just a list comprehension

array([[25,  0, 15],
       [15, 35, 45],
       [15, 25, 10],
       [20, 35, 30],
       [40, 40,  5]])

## Aggregation

In [15]:
#np.sum is sum that works on all dimensions
np.sum(random_array)

71

In [16]:
np.mean(random_array)

4.733333333333333

In [17]:
np.std(random_array)

2.6449112566503166